-- CreateEnum
CREATE TYPE "AuditRunStatus" AS ENUM ('PENDING', 'RUNNING', 'COMPLETED', 'FAILED', 'CANCELLED');

-- CreateEnum
CREATE TYPE "AuditTestStatus" AS ENUM ('PASS', 'FAIL', 'ERROR', 'SKIPPED', 'SMOKE_TESTED_ONLY', 'MANUAL_QA_REQUIRED');

-- CreateEnum
CREATE TYPE "AuditSeverity" AS ENUM ('CRITICAL', 'HIGH', 'MEDIUM', 'LOW');

-- CreateEnum
CREATE TYPE "JobStatus" AS ENUM ('PENDING', 'PROCESSING', 'COMPLETED', 'FAILED', 'RETRYING', 'CANCELLED');

-- CreateEnum
CREATE TYPE "FailureType" AS ENUM ('VALIDATION_ERROR', 'TIMEOUT', 'BACKEND_CRASH', 'NETWORK_FAILURE', 'PLAYWRIGHT_SELECTOR', 'FILE_GENERATION_FAILED', 'SECURITY_ERROR', 'UNKNOWN');

-- CreateEnum
CREATE TYPE "ReliabilityStatus" AS ENUM ('STABLE', 'FLAKY', 'CRITICAL');

-- CreateEnum
CREATE TYPE "AlertSeverity" AS ENUM ('INFO', 'WARNING', 'CRITICAL');

-- CreateTable
CREATE TABLE "Account" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "provider" TEXT NOT NULL,
    "providerAccountId" TEXT NOT NULL,
    "refresh_token" TEXT,
    "access_token" TEXT,
    "expires_at" INTEGER,
    "token_type" TEXT,
    "scope" TEXT,
    "id_token" TEXT,
    "session_state" TEXT,

    CONSTRAINT "Account_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Session" (
    "id" TEXT NOT NULL,
    "sessionToken" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "expires" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Session_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "User" (
    "id" TEXT NOT NULL,
    "name" TEXT,
    "email" TEXT,
    "emailVerified" TIMESTAMP(3),
    "image" TEXT,
    "bio" TEXT,
    "provider" TEXT,
    "role" TEXT NOT NULL DEFAULT 'user',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "lastLoginAt" TIMESTAMP(3),

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "VerificationToken" (
    "identifier" TEXT NOT NULL,
    "token" TEXT NOT NULL,
    "expires" TIMESTAMP(3) NOT NULL
);

-- CreateTable
CREATE TABLE "AiSubscription" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "planName" TEXT NOT NULL DEFAULT 'monthly',
    "status" TEXT NOT NULL DEFAULT 'expired',
    "monthlyCredits" INTEGER NOT NULL,
    "creditsUsed" INTEGER NOT NULL DEFAULT 0,
    "creditsRemaining" INTEGER NOT NULL,
    "startsAt" TIMESTAMP(3),
    "expiresAt" TIMESTAMP(3),
    "lastPaymentId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "AiSubscription_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ApiKey" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "keyHash" TEXT NOT NULL,
    "keyPrefix" TEXT NOT NULL,
    "keyLast4" TEXT NOT NULL,
    "machineId" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "deactivatedAt" TIMESTAMP(3),

    CONSTRAINT "ApiKey_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Payment" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "razorpayOrderId" TEXT NOT NULL,
    "razorpayPaymentId" TEXT,
    "amount" INTEGER NOT NULL,
    "currency" TEXT NOT NULL DEFAULT 'INR',
    "status" TEXT NOT NULL DEFAULT 'created',
    "rawWebhookPayload" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Payment_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "UsageLog" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "apiKeyId" TEXT NOT NULL,
    "model" TEXT NOT NULL,
    "taskType" TEXT NOT NULL,
    "inputCharacters" INTEGER NOT NULL,
    "creditsCharged" INTEGER NOT NULL,
    "status" TEXT NOT NULL,
    "errorCode" TEXT,
    "errorMessage" TEXT,
    "latencyMs" INTEGER,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "UsageLog_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "DeviceResetLog" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "apiKeyId" TEXT NOT NULL,
    "resetAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "DeviceResetLog_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "EmailReminderLog" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "subscriptionId" TEXT,
    "reminderType" TEXT NOT NULL,
    "sentAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "EmailReminderLog_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ProjectMemory" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "projectFingerprint" TEXT NOT NULL,
    "projectName" TEXT NOT NULL,
    "architectureSummary" TEXT,
    "codingStandardsJson" TEXT,
    "preferencesJson" TEXT,
    "knownIssuesJson" TEXT,
    "importantDecisionsJson" TEXT,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ProjectMemory_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "MemoryEvent" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "projectMemoryId" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "content" TEXT NOT NULL,
    "importance" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "MemoryEvent_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AuditRun" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "categories" TEXT NOT NULL,
    "status" "AuditRunStatus" NOT NULL DEFAULT 'PENDING',
    "startedAt" TIMESTAMP(3),
    "completedAt" TIMESTAMP(3),
    "totalTests" INTEGER NOT NULL DEFAULT 0,
    "passedTests" INTEGER NOT NULL DEFAULT 0,
    "failedTests" INTEGER NOT NULL DEFAULT 0,
    "errorTests" INTEGER NOT NULL DEFAULT 0,
    "skippedTests" INTEGER NOT NULL DEFAULT 0,
    "successPercentage" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "reportHtmlPath" TEXT,
    "reportJsonPath" TEXT,
    "reportCsvPath" TEXT,
    "errorMessage" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "AuditRun_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AuditTestResult" (
    "id" TEXT NOT NULL,
    "auditRunId" TEXT NOT NULL,
    "category" TEXT NOT NULL,
    "toolName" TEXT NOT NULL,
    "toolSlug" TEXT NOT NULL,
    "url" TEXT NOT NULL,
    "testCase" TEXT NOT NULL,
    "status" "AuditTestStatus" NOT NULL,
    "errorMessage" TEXT,
    "outputGenerated" BOOLEAN NOT NULL DEFAULT false,
    "outputType" TEXT,
    "outputPath" TEXT,
    "screenshotPath" TEXT,
    "logs" TEXT,
    "durationMs" INTEGER NOT NULL DEFAULT 0,
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "AuditTestResult_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AuditJob" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "categories" TEXT[],
    "status" "JobStatus" NOT NULL DEFAULT 'PENDING',
    "severity" "AuditSeverity",
    "startedAt" TIMESTAMP(3),
    "completedAt" TIMESTAMP(3),
    "durationMs" INTEGER,
    "retryCount" INTEGER NOT NULL DEFAULT 0,
    "maxRetries" INTEGER NOT NULL DEFAULT 3,
    "lastError" TEXT,
    "auditRunId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "AuditJob_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "NotificationLog" (
    "id" TEXT NOT NULL,
    "auditJobId" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "recipient" TEXT NOT NULL,
    "status" TEXT NOT NULL,
    "message" TEXT,
    "errorMessage" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "NotificationLog_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ToolReliability" (
    "id" TEXT NOT NULL,
    "toolName" TEXT NOT NULL,
    "category" TEXT NOT NULL,
    "totalRuns" INTEGER NOT NULL DEFAULT 0,
    "successfulRuns" INTEGER NOT NULL DEFAULT 0,
    "failedRuns" INTEGER NOT NULL DEFAULT 0,
    "reliability24h" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "reliability7d" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "reliability30d" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "status" "ReliabilityStatus" NOT NULL DEFAULT 'STABLE',
    "lastRunAt" TIMESTAMP(3),
    "lastFailureAt" TIMESTAMP(3),
    "consecutiveFailures" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ToolReliability_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "FailureRecord" (
    "id" TEXT NOT NULL,
    "auditJobId" TEXT,
    "auditRunId" TEXT,
    "toolName" TEXT NOT NULL,
    "category" TEXT NOT NULL,
    "testName" TEXT,
    "failureType" "FailureType" NOT NULL,
    "failureReason" TEXT NOT NULL,
    "stackTrace" TEXT,
    "errorOutput" TEXT,
    "isFlaky" BOOLEAN NOT NULL DEFAULT false,
    "occurrenceCount" INTEGER NOT NULL DEFAULT 1,
    "firstSeenAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "lastSeenAt" TIMESTAMP(3) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "FailureRecord_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PlatformHealthScore" (
    "id" TEXT NOT NULL,
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "overallScore" DOUBLE PRECISION NOT NULL,
    "pdfHealth" DOUBLE PRECISION NOT NULL,
    "imageHealth" DOUBLE PRECISION NOT NULL,
    "videoHealth" DOUBLE PRECISION NOT NULL,
    "aiHealth" DOUBLE PRECISION NOT NULL,
    "documentHealth" DOUBLE PRECISION NOT NULL,
    "converterHealth" DOUBLE PRECISION NOT NULL,
    "totalRuns" INTEGER NOT NULL DEFAULT 0,
    "successfulRuns" INTEGER NOT NULL DEFAULT 0,
    "failedRuns" INTEGER NOT NULL DEFAULT 0,
    "avgExecutionTimeMs" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "avgQueueWaitTimeMs" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "activeWorkers" INTEGER NOT NULL DEFAULT 0,
    "redisConnected" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "PlatformHealthScore_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AlertingRule" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "enabled" BOOLEAN NOT NULL DEFAULT true,
    "ruleType" TEXT NOT NULL,
    "threshold" DOUBLE PRECISION NOT NULL,
    "timeWindowMinutes" INTEGER NOT NULL DEFAULT 60,
    "notifyEmail" BOOLEAN NOT NULL DEFAULT true,
    "notifySlack" BOOLEAN NOT NULL DEFAULT false,
    "notifyDiscord" BOOLEAN NOT NULL DEFAULT false,
    "emailRecipients" TEXT[],
    "lastTriggeredAt" TIMESTAMP(3),
    "lastNotifiedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "AlertingRule_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AlertLog" (
    "id" TEXT NOT NULL,
    "ruleId" TEXT NOT NULL,
    "triggered" BOOLEAN NOT NULL DEFAULT false,
    "message" TEXT NOT NULL,
    "severity" "AlertSeverity" NOT NULL DEFAULT 'WARNING',
    "details" TEXT,
    "notificationsSent" TEXT[],
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "AlertLog_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PlaywrightArtifact" (
    "id" TEXT NOT NULL,
    "auditRunId" TEXT NOT NULL,
    "toolName" TEXT NOT NULL,
    "category" TEXT NOT NULL,
    "testName" TEXT,
    "type" TEXT NOT NULL,
    "mimeType" TEXT NOT NULL,
    "filePath" TEXT NOT NULL,
    "fileSize" INTEGER NOT NULL,
    "s3Path" TEXT,
    "downloadUrl" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "expiresAt" TIMESTAMP(3),

    CONSTRAINT "PlaywrightArtifact_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "Account_userId_idx" ON "Account"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "Account_provider_providerAccountId_key" ON "Account"("provider", "providerAccountId");

-- CreateIndex
CREATE UNIQUE INDEX "Session_sessionToken_key" ON "Session"("sessionToken");

-- CreateIndex
CREATE INDEX "Session_userId_idx" ON "Session"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "User_email_key" ON "User"("email");

-- CreateIndex
CREATE INDEX "User_role_idx" ON "User"("role");

-- CreateIndex
CREATE UNIQUE INDEX "VerificationToken_token_key" ON "VerificationToken"("token");

-- CreateIndex
CREATE UNIQUE INDEX "VerificationToken_identifier_token_key" ON "VerificationToken"("identifier", "token");

-- CreateIndex
CREATE UNIQUE INDEX "AiSubscription_userId_key" ON "AiSubscription"("userId");

-- CreateIndex
CREATE INDEX "AiSubscription_userId_idx" ON "AiSubscription"("userId");

-- CreateIndex
CREATE INDEX "AiSubscription_status_idx" ON "AiSubscription"("status");

-- CreateIndex
CREATE INDEX "AiSubscription_expiresAt_idx" ON "AiSubscription"("expiresAt");

-- CreateIndex
CREATE UNIQUE INDEX "ApiKey_keyHash_key" ON "ApiKey"("keyHash");

-- CreateIndex
CREATE INDEX "ApiKey_userId_idx" ON "ApiKey"("userId");

-- CreateIndex
CREATE INDEX "ApiKey_isActive_idx" ON "ApiKey"("isActive");

-- CreateIndex
CREATE UNIQUE INDEX "Payment_razorpayOrderId_key" ON "Payment"("razorpayOrderId");

-- CreateIndex
CREATE UNIQUE INDEX "Payment_razorpayPaymentId_key" ON "Payment"("razorpayPaymentId");

-- CreateIndex
CREATE INDEX "Payment_userId_idx" ON "Payment"("userId");

-- CreateIndex
CREATE INDEX "Payment_razorpayOrderId_idx" ON "Payment"("razorpayOrderId");

-- CreateIndex
CREATE INDEX "Payment_status_idx" ON "Payment"("status");

-- CreateIndex
CREATE INDEX "UsageLog_userId_idx" ON "UsageLog"("userId");

-- CreateIndex
CREATE INDEX "UsageLog_apiKeyId_idx" ON "UsageLog"("apiKeyId");

-- CreateIndex
CREATE INDEX "UsageLog_status_idx" ON "UsageLog"("status");

-- CreateIndex
CREATE INDEX "UsageLog_createdAt_idx" ON "UsageLog"("createdAt");

-- CreateIndex
CREATE INDEX "UsageLog_errorCode_idx" ON "UsageLog"("errorCode");

-- CreateIndex
CREATE INDEX "DeviceResetLog_userId_idx" ON "DeviceResetLog"("userId");

-- CreateIndex
CREATE INDEX "DeviceResetLog_apiKeyId_idx" ON "DeviceResetLog"("apiKeyId");

-- CreateIndex
CREATE INDEX "DeviceResetLog_resetAt_idx" ON "DeviceResetLog"("resetAt");

-- CreateIndex
CREATE INDEX "EmailReminderLog_userId_idx" ON "EmailReminderLog"("userId");

-- CreateIndex
CREATE INDEX "EmailReminderLog_sentAt_idx" ON "EmailReminderLog"("sentAt");

-- CreateIndex
CREATE UNIQUE INDEX "EmailReminderLog_userId_reminderType_sentAt_key" ON "EmailReminderLog"("userId", "reminderType", "sentAt");

-- CreateIndex
CREATE INDEX "ProjectMemory_userId_idx" ON "ProjectMemory"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "ProjectMemory_userId_projectFingerprint_key" ON "ProjectMemory"("userId", "projectFingerprint");

-- CreateIndex
CREATE INDEX "MemoryEvent_projectMemoryId_idx" ON "MemoryEvent"("projectMemoryId");

-- CreateIndex
CREATE INDEX "MemoryEvent_userId_idx" ON "MemoryEvent"("userId");

-- CreateIndex
CREATE INDEX "MemoryEvent_type_idx" ON "MemoryEvent"("type");

-- CreateIndex
CREATE INDEX "AuditRun_userId_idx" ON "AuditRun"("userId");

-- CreateIndex
CREATE INDEX "AuditRun_status_idx" ON "AuditRun"("status");

-- CreateIndex
CREATE INDEX "AuditRun_createdAt_idx" ON "AuditRun"("createdAt");

-- CreateIndex
CREATE INDEX "AuditTestResult_auditRunId_idx" ON "AuditTestResult"("auditRunId");

-- CreateIndex
CREATE INDEX "AuditTestResult_category_idx" ON "AuditTestResult"("category");

-- CreateIndex
CREATE INDEX "AuditTestResult_status_idx" ON "AuditTestResult"("status");

-- CreateIndex
CREATE INDEX "AuditTestResult_timestamp_idx" ON "AuditTestResult"("timestamp");

-- CreateIndex
CREATE INDEX "AuditJob_userId_idx" ON "AuditJob"("userId");

-- CreateIndex
CREATE INDEX "AuditJob_status_idx" ON "AuditJob"("status");

-- CreateIndex
CREATE INDEX "AuditJob_createdAt_idx" ON "AuditJob"("createdAt");

-- CreateIndex
CREATE INDEX "AuditJob_severity_idx" ON "AuditJob"("severity");

-- CreateIndex
CREATE INDEX "NotificationLog_auditJobId_idx" ON "NotificationLog"("auditJobId");

-- CreateIndex
CREATE INDEX "NotificationLog_type_idx" ON "NotificationLog"("type");

-- CreateIndex
CREATE INDEX "NotificationLog_status_idx" ON "NotificationLog"("status");

-- CreateIndex
CREATE UNIQUE INDEX "ToolReliability_toolName_key" ON "ToolReliability"("toolName");

-- CreateIndex
CREATE INDEX "ToolReliability_category_idx" ON "ToolReliability"("category");

-- CreateIndex
CREATE INDEX "ToolReliability_status_idx" ON "ToolReliability"("status");

-- CreateIndex
CREATE INDEX "ToolReliability_reliability30d_idx" ON "ToolReliability"("reliability30d");

-- CreateIndex
CREATE INDEX "FailureRecord_toolName_idx" ON "FailureRecord"("toolName");

-- CreateIndex
CREATE INDEX "FailureRecord_category_idx" ON "FailureRecord"("category");

-- CreateIndex
CREATE INDEX "FailureRecord_failureType_idx" ON "FailureRecord"("failureType");

-- CreateIndex
CREATE INDEX "FailureRecord_createdAt_idx" ON "FailureRecord"("createdAt");

-- CreateIndex
CREATE INDEX "FailureRecord_isFlaky_idx" ON "FailureRecord"("isFlaky");

-- CreateIndex
CREATE INDEX "PlatformHealthScore_timestamp_idx" ON "PlatformHealthScore"("timestamp");

-- CreateIndex
CREATE UNIQUE INDEX "AlertingRule_name_key" ON "AlertingRule"("name");

-- CreateIndex
CREATE INDEX "AlertingRule_enabled_idx" ON "AlertingRule"("enabled");

-- CreateIndex
CREATE INDEX "AlertingRule_ruleType_idx" ON "AlertingRule"("ruleType");

-- CreateIndex
CREATE INDEX "AlertLog_ruleId_idx" ON "AlertLog"("ruleId");

-- CreateIndex
CREATE INDEX "AlertLog_severity_idx" ON "AlertLog"("severity");

-- CreateIndex
CREATE INDEX "AlertLog_createdAt_idx" ON "AlertLog"("createdAt");

-- CreateIndex
CREATE INDEX "PlaywrightArtifact_auditRunId_idx" ON "PlaywrightArtifact"("auditRunId");

-- CreateIndex
CREATE INDEX "PlaywrightArtifact_toolName_idx" ON "PlaywrightArtifact"("toolName");

-- CreateIndex
CREATE INDEX "PlaywrightArtifact_type_idx" ON "PlaywrightArtifact"("type");

-- CreateIndex
CREATE INDEX "PlaywrightArtifact_createdAt_idx" ON "PlaywrightArtifact"("createdAt");

-- AddForeignKey
ALTER TABLE "Account" ADD CONSTRAINT "Account_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Session" ADD CONSTRAINT "Session_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AiSubscription" ADD CONSTRAINT "AiSubscription_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ApiKey" ADD CONSTRAINT "ApiKey_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Payment" ADD CONSTRAINT "Payment_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "UsageLog" ADD CONSTRAINT "UsageLog_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "UsageLog" ADD CONSTRAINT "UsageLog_apiKeyId_fkey" FOREIGN KEY ("apiKeyId") REFERENCES "ApiKey"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DeviceResetLog" ADD CONSTRAINT "DeviceResetLog_apiKeyId_fkey" FOREIGN KEY ("apiKeyId") REFERENCES "ApiKey"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DeviceResetLog" ADD CONSTRAINT "DeviceResetLog_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "EmailReminderLog" ADD CONSTRAINT "EmailReminderLog_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProjectMemory" ADD CONSTRAINT "ProjectMemory_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MemoryEvent" ADD CONSTRAINT "MemoryEvent_projectMemoryId_fkey" FOREIGN KEY ("projectMemoryId") REFERENCES "ProjectMemory"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AuditRun" ADD CONSTRAINT "AuditRun_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AuditTestResult" ADD CONSTRAINT "AuditTestResult_auditRunId_fkey" FOREIGN KEY ("auditRunId") REFERENCES "AuditRun"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AuditJob" ADD CONSTRAINT "AuditJob_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AuditJob" ADD CONSTRAINT "AuditJob_auditRunId_fkey" FOREIGN KEY ("auditRunId") REFERENCES "AuditRun"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "NotificationLog" ADD CONSTRAINT "NotificationLog_auditJobId_fkey" FOREIGN KEY ("auditJobId") REFERENCES "AuditJob"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AlertLog" ADD CONSTRAINT "AlertLog_ruleId_fkey" FOREIGN KEY ("ruleId") REFERENCES "AlertingRule"("id") ON DELETE CASCADE ON UPDATE CASCADE;

